<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Mission</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div clas="container">
    <div class="jumbotron text-center">
      <h1>Mission To Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
      
    <!-- surf data -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <strong class="d-inline-block mb-2 text-primary">Latest Mars News</strong>
        <p class="text-dark"> {{mars.news_title}}</p>
        <small> {{mars.news_p}}</small>
         
        <p>{{ mars}}</p>
        <p>{{ mars }}</p>
        <img src= {{ mars.featured_image_url }} width: 50% />
      </div>
      <div class="col-md-12">
        <h4 class="heading">Mars Weather : {{mars.mars_weather}}</h4>
        </div>
        <table>
         <tr>
             <th>Description</th>
             <th>Values</th>
          </tr>
          
        <tr>
                  <td>{{mars.html_table | safe}}</td>
          </tr>
        </table>
      </div>
    </div>
    </div>
  </div>

</body>
</html>